<header class="bg-gray-50 shadow-gray-300 shadow-md mb-6">
  <nav
    class="mx-auto flex max-w-screen-xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a routerLink="" class="-m-1.5 p-1.5">
        <span class="sr-only">Incubadora del NOC</span>
        <img
          class="h-24 w-auto"
          src="../../../assets/isologotipo-incubadora.png"
          alt=""
        />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        (click)="openMobileMenu()"
      >
        <span class="sr-only">Abrir menú principal</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex items-center lg:gap-x-12">
      <div class="relative flex">
        <a
          type="button"
          class="group flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          aria-expanded="false"
          routerLink=""
        >
          Inicio
          <svg
            class="h-4 w-4 flex-none text-noc-orange group-hover:text-noc-blue"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M3 8v10a1 1 0 0 0 1 1h4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5h4a1 1 0 0 0 1-1V8M1 10l9-9 9 9"
            />
          </svg>
        </a>
      </div>
      <div (click)="myToggleDropdown('institutionalDropdown')">
        <div class="group flex items-center cursor-pointer">
          <a class="text-sm font-semibold leading-6 text-gray-900 group"
            >Institucional</a
          >
          <svg
            class="h-5 w-5 text-noc-orange group-hover:text-noc-blue"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <app-dropdown
          *ngIf="currentDropdown === 'institutionalDropdown'"
          [items]="institutionalDropdownItems"
        ></app-dropdown>
      </div>
      <a
        routerLink="cursos"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Cursos</a
      >
      <a routerLink="" class="text-sm font-semibold leading-6 text-gray-900"
        >Novedades</a
      >
      <div
        (click)="myToggleDropdown('adminDropdown')"
        *ngIf="userIsLoged && userData?.roles?.includes('ROLE_ADMIN')"
      >
        <div class="group flex items-center cursor-pointer">
          <a class="text-sm font-semibold leading-6 text-gray-900">Gestión</a>
          <svg
            class="h-5 w-5 flex-none text-noc-orange group-hover:text-noc-blue"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <app-dropdown
          *ngIf="currentDropdown === 'adminDropdown'"
          [items]="adminDropdownItems"
        ></app-dropdown>
      </div>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end items-center">
      <div *ngIf="!userIsLoged">
        <a
          routerLink="iniciar-sesion"
          class="group flex items-center text-sm font-semibold leading-6 text-gray-900"
          >Iniciar sesión
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 text-noc-orange group-hover:text-noc-blue"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
            />
          </svg>
        </a>
      </div>
      <button
        (click)="myToggleDropdown('userDropdown')"
        #dropdownAvatarNameButton
        *ngIf="userIsLoged"
        class="absolute flex items-center text-sm font-medium text-gray-900 rounded-full group md:mr-0 hover:ring-2 hover:ring-noc-orange p-1 focus:ring-noc-orange"
        type="button"
      >
        <span class="sr-only">Abrir menú</span>
        <img
          class="w-8 h-8 mr-2 rounded-full object-cover"
          src="{{ userDetail?.avatar }}"
          alt="user photo"
        />
        {{ userDetail?.nombre }}
        <svg
          class="w-2.5 h-2.5 ml-2.5 group-hover:text-noc-orange"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>
      <app-user-dropdown
        *ngIf="currentDropdown === 'userDropdown'"
        [userDetail]="userDetail"
        [userData]="userData"
        (closeDropdownEvent)="myToggleDropdown('userDropdown')"
      ></app-user-dropdown>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div *ngIf="showMobileMenu" class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-30 w-full overflow-y-auto bg-white px-6 py-6 sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a routerLink="" class="-m-1.5 p-1.5">
          <span class="sr-only">Incubadora del NOC</span>
          <img
            class="h-24 w-auto"
            src="../../../assets/isologotipo-incubadora.png"
            alt=""
          />
        </a>
        <button
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
          (click)="closeMobileMenu()"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              (click)="myToggleDropdown('institutionalDropdown')"
              class="flex w-full items-center justify-between rounded-lg text-base font-semibold leading-7 text-gray-900"
              >Institucional
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <div *ngIf="currentDropdown === 'institutionalDropdown'">
              <a
                *ngFor="let link of institutionalDropdownItems"
                routerLink="{{ link.routerLink }}"
                class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >{{ link.component }}</a
              >
            </div>
            <a
              routerLink="cursos"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Cursos</a
            >
            <a
              routerLink=""
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Novedades</a
            >
            <a
              (click)="myToggleDropdown('adminDropdown')"
              class="flex w-full items-center justify-between rounded-lg text-base font-semibold leading-7 text-gray-900"
              >Gestión
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <div *ngIf="currentDropdown === 'adminDropdown'">
              <a
                *ngFor="let link of adminDropdownItems"
                routerLink="{{ link.routerLink }}"
                class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >{{ link.component }}</a
              >
            </div>
          </div>
          <div class="py-6 flex justify-center">
            <a
              *ngIf="!userIsLoged"
              routerLink="iniciar-sesion"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Iniciar Sesión</a
            >
            <div *ngIf="userIsLoged">
              <a
                (click)="myToggleDropdown('userDropdown')"
                class="flex w-full items-center justify-between text-base font-semibold leading-7 text-gray-900"
              >
                <div class="flex pr-2">
                  <p>{{ userDetail?.nombre }}</p>
                  <img
                    class="w-8 h-8 ml-2 rounded-full object-cover"
                    src="{{ userDetail?.avatar }}"
                    alt="user photo"
                  />
                </div>
                <svg
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
              <div
                *ngIf="currentDropdown == 'userDropdown'"
                class="flex flex-col items-center py-6"
              >
                <div class="flex">
                  <p class="mr-1">Rol:</p>
                  <p class="font-medium">
                    {{ userData!.roles | roleCustomizer }}
                  </p>
                </div>
                <a routerLink="/usuario/perfil" class="text-md text-center pt-2"
                  >Mi perfil</a
                >
                <button (click)="onLogOut()" class="py-2 text-md">
                  Cerrar sesión
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
