<header class="bg-white">
  <nav
    class="mx-auto flex max-w-screen-xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a routerLink="" class="-m-1.5 p-1.5">
        <span class="sr-only">Incubadora del NOC</span>
        <img
          class="h-24 w-auto"
          src="../../../assets/isologotipo-incubadora.png"
          alt=""
        />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        (click)="openMobileMenu()"
      >
        <span class="sr-only">Abrir menú principal</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex items-center lg:gap-x-12">
      <div class="relative flex">
        <a
          type="button"
          class="group flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          aria-expanded="false"
          routerLink=""
        >
          Inicio
          <svg
            class="h-4 w-4 flex-none text-noc-orange group-hover:text-noc-blue"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M3 8v10a1 1 0 0 0 1 1h4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5h4a1 1 0 0 0 1-1V8M1 10l9-9 9 9"
            />
          </svg>
        </a>
      </div>
      <div
        (click)="toggleInstitutional()"
        class="flex items-center cursor-pointer"
      >
        <a routerLink="" class="text-sm font-semibold leading-6 text-gray-900"
          >Institucional</a
        >
        <svg
          class="h-5 w-5 flex-none text-noc-orange group-hover:text-noc-blue"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
        <app-dropdown
          *ngIf="institutionalDropdown"
          [items]="institutionalDropdownItems"
        ></app-dropdown>
      </div>
      <a
        routerLink="cursos"
        class="text-sm font-semibold leading-6 text-gray-900"
        >Cursos</a
      >
      <a routerLink="" class="text-sm font-semibold leading-6 text-gray-900"
        >Novedades</a
      >

      <div
        class="flex items-center"
        *ngIf="userIsLoged && userData?.roles?.includes('ROLE_ADMIN')"
      >
        <a
          (click)="toggleAdminManagement()"
          routerLink=""
          class="text-sm font-semibold leading-6 text-gray-900"
          >Gestión</a
        >
        <svg
          class="h-5 w-5 flex-none text-noc-orange group-hover:text-noc-blue"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
        <app-dropdown
          *ngIf="adminDropdown"
          [items]="adminDropdownItems"
        ></app-dropdown>
      </div>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <div *ngIf="!userIsLoged">
        <a
          routerLink="iniciar-sesion"
          class="group flex items-center text-sm font-semibold leading-6 text-gray-900"
          >Iniciar sesión
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 text-noc-orange group-hover:text-noc-blue"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
            />
          </svg>
        </a>
      </div>
      <div class="flex flex-col" *ngIf="userIsLoged">
        <div>
          <span class="text-sm">Bienvenido</span>
          <span class="text-sm ml-2">{{ userData?.nombre }}</span>
        </div>
        <a
          (click)="onLogOut()"
          routerLink=""
          class="group flex justify-end items-center text-sm font-semibold leading-6 text-gray-900"
          >Cerrar sesión
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 15"
            stroke="currentColor"
            class="w-5 h-5 text-noc-orange group-hover:text-noc-blue"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="M1 7.5h11m0 0L8 3.786M12 7.5l-4 3.714M12 1h3c.53 0 1.04.196 1.414.544.375.348.586.82.586 1.313v9.286c0 .492-.21.965-.586 1.313A2.081 2.081 0 0 1 15 14h-3"
            />
          </svg>
        </a>
      </div>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div *ngIf="showMobileMenu" class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-30 w-full overflow-y-auto bg-white px-6 py-6 sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a routerLink="" class="-m-1.5 p-1.5">
          <span class="sr-only">Incubadora del NOC</span>
          <img
            class="h-24 w-auto"
            src="../../../assets/isologotipo-incubadora.png"
            alt=""
          />
        </a>
        <button
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
          (click)="closeMobileMenu()"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              (click)="mobileToggleInstitucional()"
              class="flex w-full items-center justify-between rounded-lg text-base font-semibold leading-7 text-gray-900"
              >Institucional
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <div *ngIf="showInstitucional">
              <a
                *ngFor="let link of institutionalDropdownItems"
                routerLink="{{ link.routerLink }}"
                class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >{{ link.component }}</a
              >
            </div>
            <a
              routerLink="cursos"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Cursos</a
            >
            <a
              routerLink=""
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Novedades</a
            >
            <a
              (click)="mobileToggleAdminManagement()"
              class="flex w-full items-center justify-between rounded-lg text-base font-semibold leading-7 text-gray-900"
              >Gestión
              <svg
                class="h-5 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <div *ngIf="showAdminGestion">
              <a
                *ngFor="let link of adminDropdownItems"
                routerLink="{{ link.routerLink }}"
                class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >{{ link.component }}</a
              >
            </div>
          </div>
          <div *ngIf="!userIsLoged" class="py-6 flex justify-center">
            <a
              routerLink="iniciar-sesion"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Iniciar Sesión</a
            >
          </div>
          <div *ngIf="userIsLoged" class="flex flex-col items-center py-6">
            <div>
              <span class="text-sm">Bienvenido</span>
              <span class="text-sm ml-2">{{ userData?.nombre }}</span>
            </div>
            <a
              (click)="onLogOut()"
              routerLink=""
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Cerrar sesión</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
