<section class="bg-gray-50">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-auto"
  >
    <div>
      <h2 class="text-base lg:text-2xl font-semibold m-4">Docentes</h2>
      <div
        class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
      >
        <div class="">
          <div class="">
            <p class="text-justify">
              Conoce a quienes están dispuestos a darte las herramientas para
              impulsarte a que consigas todo aquello que deseas.
            </p>
          </div>
          <div
            class="grid lg:grid-cols-3 md:grid-cols-2 gap-8 px-14 lg:px-8 my-4 lg:my-8"
          >
            <app-teacher-card
              *ngFor="let teacher of teacherStaff"
              [teacher]="teacher"
            ></app-teacher-card>
          </div>
          <div class="">
            <p class="text-justify">
              Si te sentís preparado en algún área y te gustaría compartirlo
              y poder marcar una diferencia en la vida de alguien más, ponete
              en contacto con nosotros para poder inscribirte como docente y
              comenzar a compartir tu conocimientos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
