<h2 class="text-base lg:text-2xl font-semibold m-4">Conocé nuestra sede</h2>
<div
  class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
>
  <p class="mb-2">
    La incubadora se encuentra situada en
    <span class="font-medium text-noc-orange">Mitre 757.</span> Aquí se dictan
    las capacitaciones y es donde se organizan las reuniones de mentorías. ¡No te
    pierdas la oportunidad de conocer nuestro espacio!
  </p>
  <div class="flex justify-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.0109496783343!2d-64.80806562442022!3d-30.7180925745912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942dc3635d895aa5%3A0xa3d315fce8dfd409!2sGral.%20Mitre%20757%2C%20Cruz%20del%20Eje%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1696975378251!5m2!1ses-419!2sar"
      class="w-80 h-80"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
