<div
  class="bg-white border border-gray-200 rounded-lg shadow cursor-pointer"
  (click)="navigateTo(courseContent.slug)"
>
  <div>
    <img
      class="rounded-t-lg w-full h-full object-cover p-2"
      src="{{ courseContent.portada }}"
      alt=""
    />
  </div>
  <div class="p-5">
    <div class="flex justify-between font-medium pb-2">
      <p>
        {{ courseContent.dia_curso | date : "dd/MM/yyyy" }}
      </p>
      <p>
        {{ courseContent.hora_curso | timeCustomizer }}
      </p>
    </div>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      {{ courseContent!.nombre }}
    </h5>
    <p class="mb-3 font-normal text-gray-700">
      {{ courseContent!.descripcion | truncate : 100 }}
    </p>
    <div class="flex justify-center">
      <app-set-of-buttons [courseData]="courseContent"></app-set-of-buttons>
    </div>
  </div>
</div>
