<div class="flex justify-center md:justify-end mt-6">
  <div
    class="flex"
    *ngIf="!(userIsLoged && userData?.roles?.includes('ROLE_ADMIN'))"
  >
    <a
      type="button"
      class="{{
        buttons['subscribe'].style
      }} flex items-center focus:outline-none text-white font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
    >
      <svg-icon src="{{ buttons['subscribe'].svg }}"></svg-icon>
      <p class="px-2">{{ buttons["subscribe"].action }}</p>
    </a>
  </div>
  <div
    class="flex"
    *ngIf="userIsLoged && userData?.roles?.includes('ROLE_ADMIN')"
  >
    <a
      routerLink="/cursos/{{ courseData.id }}/editar-curso"
      class="{{
        buttons['edit'].style
      }} flex items-center focus:outline-none text-white font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
    >
      <svg-icon src="{{ buttons['edit'].svg }}"></svg-icon>
      <p class="px-2">{{ buttons["edit"].action }}</p>
    </a>
    <a
      routerLink="/cursos/{{ courseData.id }}/borrar-curso"
      class="{{
        buttons['delete'].style
      }} flex items-center focus:outline-none text-white font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
    >
      <svg-icon src="{{ buttons['delete'].svg }}"></svg-icon>
      <p class="px-2">{{ buttons["delete"].action }}</p>
    </a>
  </div>
</div>
