<section class="bg-gray-50">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-auto lg:py-16"
  >
    <app-custom-toast
      *ngIf="newCategoryToast"
      [toastType]="toastKey"
    ></app-custom-toast>
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h2
          *ngIf="newCategoryError.length === 0"
          class="flex justify-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          {{ message }}
        </h2>
        <h2
          *ngIf="newCategoryError.length > 0"
          class="flex justify-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          {{ errorMessage }}
        </h2>
        <form
          [formGroup]="newCategoryForm"
          (ngSubmit)="onCreateCategory()"
          class="space-y-4 md:space-y-6"
        >
          <div class="relative z-0 mb-6 group">
            <input
              formControlName="nombre"
              type="nombre"
              name="floating_name"
              id="floating_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="floating_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Nombre de la categoría</label
            >
            <div
              *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)"
              class="alert alert-danger"
            >
              <div
                class="mt-2 text-sm text-red-600"
                *ngIf="nombre.errors?.['required']"
              >
                Ingresa el nombre de la categoría
              </div>
            </div>
          </div>
          <div
            class="mx-auto my-6 text-sm"
            *ngIf="!(newCategoryError.length === 0)"
          >
            <p
              *ngFor="let error of newCategoryError"
              class="text-center mt-2 text-sm text-red-600"
            >
              {{ error.mensaje }}
            </p>
          </div>
          <button
            [disabled]="newCategoryForm.invalid"
            type="submit"
            class="w-full text-white {{
              newCategoryForm.invalid ? 'bg-gray-300' : 'bg-blue-600'
            }} hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Crear categoría
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
