<section class="bg-white">
  <div
    class="flex border p-8 border-gray-200 rounded-lg shadow"
  >
    <div class=" flex items-center">
      <img
        class="w-48 h-48 mb-3 rounded-full shadow-lg"
        src="{{userDetail.avatar}}"
        alt="User image"
      />
    </div>
    <div class="p-8">
      <h3>Nombre:</h3>
      <h3 class="mb-1 text-xl font-medium text-gray-900">{{userDetail.nombre}} {{userDetail.apellido}}</h3>
      <h3>Email:</h3>
      <h3 class="mb-1 text-xl font-medium text-gray-900">{{userDetail.email}}</h3>
    </div>
  </div>
</section>
