<div class="absolute">
  <div class="p-4 relative right-2 z-30 bg-white shadow-lg rounded-3xl">
    <div
      item
      *ngFor="let item of items"
      class="group relative flex items-center gap-x-6 rounded-lg p-2 text-sm leading-6 hover:bg-gray-50"
    >
      <a
        (click)="navigateToPage($event, item.routerLink)"
        class="flex items-center justify-center font-semibold text-gray-900"
      >
        <div
          class="flex items-center justify-center h-11 w-11 rounded-lg bg-gray-50 group-hover:bg-white"
        >
          <svg-icon src="{{ item.svg }}"></svg-icon>
        </div>
        <div class="flex-auto pl-4">
          {{ item.component }}
          <p class="text-gray-600">{{ item.phrase }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
