<section class="bg-gray-50">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-auto lg:py-16"
  >
    <app-custom-toast
      *ngIf="userSuscribed"
      [toastType]="setKey"
    ></app-custom-toast>
    <div
      class="p-4 bg-white border border-gray-200 rounded-lg shadow md:flex-row lg:w-3/5"
    >
      <div class="flex flex-col sm:flex-row">
        <div class="md:w-1/2 lg:w-1/3 h:auto">
          <img
            class="object-cover h-full w-full md:h-full md:w-full"
            src="{{ courseData.portada }}"
            alt="{{ courseData.slug }}"
            alt=""
          />
        </div>
        <div
          class="px-2 flex flex-col leading-normal md:w-2/3 md:px-4 lg:px-6 lg:w-2/3"
        >
          <div class="py-4 flex justify-between items-center md:py-1">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">
              {{ courseData.nombre }}
            </h2>
            <p class="font-bold text-2xl text-gray-700 md:hidden md:mb-3">
              {{ courseData.precio | currency : "USD" : "symbol" : "1.0-0" }}
            </p>
          </div>
          <div class="flex text-sm font-light justify-center md:justify-start">
            <p>
              Un curso de
              <a class="hover:underline" href="">
                {{ courseData.categoria.nombre }}
              </a>
            </p>
          </div>
          <p class="hidden font-bold text-gray-700 sm:block md:my-2">
            {{ courseData.precio | currency : "USD" : "symbol" : "1.0-0" }}
          </p>
          <p class="my-3 font-normal text-gray-700 md:my-0 md:mb-3">
            {{ courseData.descripcion }}
          </p>
          <div class="text-md">
            <div *ngIf="this.currentDate! < this.courseData.dia_curso">
              <div class="flex">
                <p class="font-medium mr-1">Fecha:</p>
                <p>
                  {{ courseData.dia_curso | date : "dd/MM/yyyy" }}
                </p>
              </div>
              <div class="flex">
                <p class="font-medium mr-1">Hora:</p>
                <p>
                  {{ courseData.hora_curso | timeCustomizer }}
                </p>
              </div>
            </div>
            <div
              class="py-4 text-red-600 text-center md:text-left"
              *ngIf="this.currentDate! > this.courseData.dia_curso"
            >
              <p>
                Lo sentimos, este curso
                <span class="font-semibold">no se encuentra disponible</span>
              </p>
            </div>
            <div class="flex">
              <p class="font-medium mr-1">Duración:</p>
              <p>
                {{ courseData.duracion }}
              </p>
            </div>
            <div class="flex">
              <p class="font-medium mr-1">Dictado por:</p>
              <a class="hover:underline" href=""
                >{{ courseData.docente.nombre }}
                {{ courseData.docente.apellido }}</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="courseEnrollmentErrors !== ''"
        class="flex justify-center py-4"
      >
        <p class="text-sm text-red-600">{{ courseEnrollmentErrors }}</p>
      </div>
      <app-set-of-buttons
        [courseData]="courseData"
        [inscriptionCode]="inscriptionCode"
        [payment]="payment"
        [paymentToken]="paymentToken"
        (showToast)="showToast($event)"
        (backEndErrors)="showErrors($event)"
      ></app-set-of-buttons>
    </div>
  </div>
</section>
