<footer class="bg-white shadow-gray-300 shadow-inner">
  <div class="mx-auto w-full max-w-screen-xl py-6 px-8 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0 group">
        <a routerLink="" class="flex flex-wrap justify-center items-center">
          <img
            src="/assets/isologotipo-incubadora.png"
            routerLink=""
            class="h-24 mr-3 grayscale group-hover:grayscale-0"
            alt="logo incubadora"
          />
          <h1 class="font-semibold group-hover:text-noc-orange text-lg">
            Incubadora del N.O.C
          </h1>
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <ul class="text-gray-500 font-medium text-center lg:text-xs">
            <li class="mb-4">
              <a routerLink="">Mail</a>
            </li>
            <li class="mb-4">
              <a routerLink="">Dirección</a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="text-gray-500 font-medium text-center lg:text-xs">
            <li class="mb-4">
              <a
                href="https://www.instagram.com/incubadoradelnoc/"
                class="hover:underline"
                >Instagram</a
              >
            </li>
            <li class="mb-4">
              <a
                href="https://m.facebook.com/people/Incubadora-del-NOC/100063640024874/"
                >Facebook</a
              >
            </li>
            <li>
              <a
                href="https://twitter.com/incubadora_noc"
                routerLinkActive="active"
                >Twitter</a
              >
            </li>
          </ul>
        </div>
        <div>
          <ul class="text-gray-500 font-medium text-center lg:text-xs">
            <li class="mb-4">
              <a routerLink="cursos">Cursos</a>
            </li>
            <li>
              <a routerLink="">Cuerpo docente</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center"
        >©2023
        <a
          href="https://technologywithpurpose.org/"
          class="hover:underline mx-3"
          >Technology With Purprose</a
        >Tech Titans
      </span>
      <div class="flex mt-4 space-x-5 sm:justify-center sm:mt-0">
        <a
          href="https://m.facebook.com/people/Incubadora-del-NOC/100063640024874/"
          class="text-gray-500 hover:text-gray-900"
        >
          <svg
            class="w-4 h-4"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M11 21v-9c0-2.188.5-4 4-4M9 13h6"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="sr-only">Facebook</span>
        </a>
        <a
          href="https://www.instagram.com/incubadoradelnoc/"
          class="text-gray-500 hover:text-gray-900"
        >
          <svg
            class="w-4 h-4"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 16a4 4 0 100-8 4 4 0 000 8z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
            ></path>
            <path
              d="M17.5 6.51l.01-.011"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="sr-only">Instagram </span>
        </a>
        <a
          href="https://twitter.com/incubadora_noc"
          class="text-gray-500 hover:text-gray-900"
        >
          <svg
            class="w-4 h-4"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M23 3.01s-2.018 1.192-3.14 1.53a4.48 4.48 0 00-7.86 3v1a10.66 10.66 0 01-9-4.53s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5 0-.278-.028-.556-.08-.83C21.94 5.674 23 3.01 23 3.01z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="sr-only">Twitter</span>
        </a>
      </div>
    </div>
  </div>
</footer>
