<section class="bg-gray-50">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-auto"
  >
    <h2 class="lg:text-2xl font-semibold m-4">Nuestras ultimas noticias</h2>
    <div
      class="max-w-4xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
    >
      <h3 class="text-base lg:text-2xl font-semibold m-4">Programa XAcademy</h3>
      <div class="lg:flex">
        <div class="w-full flex flex-col justify-center">
          <p class="text-justify">
            Es el programa de formación en tecnología de la cultura IT, se
            centra en brindar capacitación de la mano de mentores para tener la
            posibilidad de insertarse en el mercado laboral IT. <br />
            Una propuesta de gran valor sin ningún tipo de costo. <br />
            En todas sus verticales, existe la posibilidad de trabajar con
            proyectos reales, lo cual te brindará una experiencia muy cercana a
            un entorno real de trabajo. <br />
            Estas son sus 3 iniciativas:
          </p>
          <div>
            <a
              href="https://technologywithpurpose.org/xacademy/xacademy-qa/"
              class="text-[#6b53f0] flex items-center text-lg font-semibold"
              ><svg-icon
                src="/assets/institutional/xacademy-black.svg"
                [svgStyle]="{ 'width.px': 100 }"
              ></svg-icon
              >QA</a
            >
            <p class="text-justify">
              Orientado a personas con o sin conocimientos en software que
              busquen incorporarse en el ámbito tecnológico. Esta iniciativa te
              permitirá aprender lo esencial para poder desenvolverte en el
              ámbito del testing o QA manual. <br />
              Aprenderás a identificar fallas, errores y defectos en el
              software, habilidades cruciales para poder incrementar la calidad
              del producto. El programa tiene una duración de 10 semanas y es
              dictado de manera virtual.
            </p>
            <p class="font-semibold">
              Enterate de más haciendo click
              <a
                href="https://technologywithpurpose.org/xacademy/xacademy-qa/"
                class="hover:underline font-medium text-noc-orange"
                >aqui</a
              >.
            </p>
            <a
              href="https://technologywithpurpose.org/xacademy/xacademy-dev/"
              class="text-[#6b53f0] flex items-center text-lg font-semibold"
              ><svg-icon
                src="/assets/institutional/xacademy-black.svg"
                [svgStyle]="{ 'width.px': 100 }"
              ></svg-icon
              >Dev</a
            >
            <p class="text-justify">
              ¿Te apasiona la tecnología? Este programa está destinado a
              aquellos que busquen potenciar sus habilidades y conocimientos
              para incorporarse en el mundo IT. <br />
              Tiene una duración de 5 meses divididos en dos fases, una Fase
              técnica y una Fase de proyecto. <br />
              Durante la primera se abordan las tecnologías necesarias para
              convertirse en un desarrollador Full stack <br />
              Y en la fase de proyecto, se emula un entorno de trabajo real
              donde, dentro un equipo, se ponen en prueba tanto las habilidades
              aprendidas en la primer fase, como las habilidades blandas de cada
              uno de los integrantes. Todo con el objetivo de generar un
              producto de valor para un cliente real.
            </p>
            <p class="font-semibold">
              Enterate de más haciendo click
              <a
                href="https://technologywithpurpose.org/xacademy/xacademy-dev/"
                class="hover:underline font-medium text-noc-orange"
                >aqui</a
              >.
            </p>
            <a
              href="https://technologywithpurpose.org/xacademy/xacadamy-bim/"
              class="text-[#6b53f0] flex items-center text-lg font-semibold"
              ><svg-icon
                src="/assets/institutional/xacademy-black.svg"
                [svgStyle]="{ 'width.px': 100 }"
              ></svg-icon
              >BIM</a
            >
            <p class="text-justify">
              Orientado a las industrias AECO: arquitectura, ingeniería,
              construcción, operaciones y mantenimiento. <br />
              El objetivo de ésta capacitación es acercar el conocimiento para
              incorporar innovación y eficiencia en la industria del diseño y de
              la construcción. De esta manera, XAcademy BIM brinda a sus alumnos
              una formación que permite mejorar la toma de decisiones y la
              gestión de recursos a través de esta metodología de colaboración
              remota y digital. <br />
              Tiene una duración de 8 semanas. Es de formato híbrido, se cursa
              en formato virtual con la posibilidad de asistir presencialmente.
            </p>
            <p class="font-semibold">
              Enterate de más haciendo click
              <a
                href="https://technologywithpurpose.org/xacademy/xacadamy-bim/"
                class="hover:underline font-medium text-noc-orange"
                >aqui</a
              >.
            </p>
          </div>
        </div>
        <div
          class="w-full grid md:grid-cols-2 lg:grid-cols-1 md:gap-6 p-6 md:p-0 md:pt-6 lg:pl-6 space-y-4 md:space-y-0"
        >
          <img
            src="/assets/institutional/xacademy-01-800x533.jpg"
            alt="XAcademy image"
            class="rounded-tr-[40px] rounded-bl-[40px] rounded-br-[40px]"
          />
          <img
            src="/assets/institutional/twp-home.jpg"
            alt="XAcademy-dev image"
            class="rounded-tr-[40px] rounded-tl-[40px] rounded-bl-[40px]"
          />
          <img
            src="/assets/institutional/qa-trainee-02.jpg"
            alt="XAcademy-qa image"
            class="rounded-tr-[40px] rounded-bl-[40px] rounded-br-[40px]"
          />
          <img
            src="/assets/institutional/xacademy-bim-01.jpg"
            alt="XAcademy-bim image"
            class="rounded-tr-[40px] rounded-tl-[40px] rounded-bl-[40px]"
          />
        </div>
      </div>
    </div>
  </div>
</section>
