<section class="bg-gray-50">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-auto"
  >
    <h2 class="lg:text-2xl font-semibold m-4">Sección de novedades</h2>
    <div
      class="max-w-4xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
    >
      <h3 class="text-xl lg:text-2xl font-semibold my-4">Programa XAcademy</h3>
      <div class="lg:flex">
        <div class="w-full flex flex-col justify-center">
          <p class="text-justify">
            Es el programa de formación en tecnología de la cultura IT, se
            centra en brindar capacitación de la mano de mentores para tener la
            posibilidad de insertarse en el mercado laboral IT. <br />
            Una propuesta de gran valor sin ningún tipo de costo. <br />
            En todas sus verticales, existe la posibilidad de trabajar con
            proyectos reales, lo cual te brindará una experiencia muy cercana a
            un entorno real de trabajo. <br />
            Estas son sus 3 iniciativas:
          </p>
          <div>
            <a
              href="https://technologywithpurpose.org/xacademy/xacademy-qa/"
              class="text-[#6b53f0] flex items-center text-lg font-semibold"
              ><svg-icon
                src="/assets/institutional/xacademy-black.svg"
                [svgStyle]="{ 'width.px': 100 }"
              ></svg-icon
              >QA</a
            >
            <p class="text-justify">
              Orientado a personas con o sin conocimientos en software que
              busquen incorporarse en el ámbito tecnológico. Esta iniciativa te
              permitirá aprender lo esencial para poder desenvolverte en el
              ámbito del testing o QA manual. <br />
              Aprenderás a identificar fallas, errores y defectos en el
              software, habilidades cruciales para poder incrementar la calidad
              del producto. El programa tiene una duración de 10 semanas y es
              dictado de manera virtual.
            </p>
            <p class="font-semibold">
              Enterate de más haciendo click
              <a
                href="https://technologywithpurpose.org/xacademy/xacademy-qa/"
                class="hover:underline font-medium text-noc-orange"
                >aqui</a
              >.
            </p>
            <a
              href="https://technologywithpurpose.org/xacademy/xacademy-dev/"
              class="text-[#6b53f0] flex items-center text-lg font-semibold"
              ><svg-icon
                src="/assets/institutional/xacademy-black.svg"
                [svgStyle]="{ 'width.px': 100 }"
              ></svg-icon
              >Dev</a
            >
            <p class="text-justify">
              ¿Te apasiona la tecnología? Este programa está destinado a
              aquellos que busquen potenciar sus habilidades y conocimientos
              para incorporarse en el mundo IT. <br />
              Tiene una duración de 5 meses divididos en dos fases, una Fase
              técnica y una Fase de proyecto. <br />
              Durante la primera se abordan las tecnologías necesarias para
              convertirse en un desarrollador Full stack <br />
              Y en la fase de proyecto, se emula un entorno de trabajo real
              donde, dentro un equipo, se ponen en prueba tanto las habilidades
              aprendidas en la primer fase, como las habilidades blandas de cada
              uno de los integrantes. Todo con el objetivo de generar un
              producto de valor para un cliente real.
            </p>
            <p class="font-semibold">
              Enterate de más haciendo click
              <a
                href="https://technologywithpurpose.org/xacademy/xacademy-dev/"
                class="hover:underline font-medium text-noc-orange"
                >aqui</a
              >.
            </p>
            <a
              href="https://technologywithpurpose.org/xacademy/xacadamy-bim/"
              class="text-[#6b53f0] flex items-center text-lg font-semibold"
              ><svg-icon
                src="/assets/institutional/xacademy-black.svg"
                [svgStyle]="{ 'width.px': 100 }"
              ></svg-icon
              >BIM</a
            >
            <p class="text-justify">
              Orientado a las industrias AECO: arquitectura, ingeniería,
              construcción, operaciones y mantenimiento. <br />
              El objetivo de ésta capacitación es acercar el conocimiento para
              incorporar innovación y eficiencia en la industria del diseño y de
              la construcción. De esta manera, XAcademy BIM brinda a sus alumnos
              una formación que permite mejorar la toma de decisiones y la
              gestión de recursos a través de esta metodología de colaboración
              remota y digital. <br />
              Tiene una duración de 8 semanas. Es de formato híbrido, se cursa
              en formato virtual con la posibilidad de asistir presencialmente.
            </p>
            <p class="font-semibold">
              Enterate de más haciendo click
              <a
                href="https://technologywithpurpose.org/xacademy/xacadamy-bim/"
                class="hover:underline font-medium text-noc-orange"
                >aqui</a
              >.
            </p>
          </div>
        </div>
        <div
          class="w-full grid md:grid-cols-2 lg:grid-cols-1 md:gap-6 p-6 md:p-0 md:pt-6 lg:pl-6 space-y-4 md:space-y-0"
        >
          <img
            src="/assets/institutional/xacademy-01-800x533.jpg"
            alt="XAcademy image"
            class="rounded-tr-[40px] rounded-bl-[40px] rounded-br-[40px]"
          />
          <img
            src="/assets/institutional/twp-home.jpg"
            alt="XAcademy-dev image"
            class="rounded-tr-[40px] rounded-tl-[40px] rounded-bl-[40px]"
          />
          <img
            src="/assets/institutional/qa-trainee-02.jpg"
            alt="XAcademy-qa image"
            class="rounded-tr-[40px] rounded-bl-[40px] rounded-br-[40px]"
          />
          <img
            src="/assets/institutional/xacademy-bim-01.jpg"
            alt="XAcademy-bim image"
            class="rounded-tr-[40px] rounded-tl-[40px] rounded-bl-[40px]"
          />
        </div>
      </div>
    </div>
    <div
      class="max-w-4xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
    >
      <h3 class="text-xl lg:text-2xl font-semibold my-4">
        Líneas de créditos del gobierno de la Provincia de Córdoba
      </h3>
      <div class="lg:flex">
        <div class="w-full flex flex-col justify-center">
          <p class="text-justify">
            Dos líneas de créditos. La primera orientada a personas físicas, y
            la segunda a potenciar emprendedores con al menos 1 año de
            antigüedad.
          </p>
          <h3 class="font-semibold text-lg text-center md:text-left my-2">
            Primera linea: Banco de la gente
          </h3>
          <div class="flex flex-col md:flex-row items-center">
            <div class="w-full">
              <p class="text-justify">
                Está destinada a aquellas personas que no puedan acceder al
                sistema financiero formal y que requieran cubrir necesidades
                personales o del grupo familiar. A continuación te comentamos
                las opciones:
              </p>
            </div>
            <div class="w-full flex justify-center items-center my-4 md:pl-4 md:m-0 md:w-1/2 object-cover">
              <img
                src="/assets/institutional/banco-de-la-gente.jpg"
                alt="Logo Banco de la gente"
              />
            </div>
          </div>
          <div>
            <div class="py-3">
              <a
                href="https://habitatyfamilia.cba.gov.ar/linea-de-libre-disponibilidad/"
                class="hover:underline text-lg font-medium text-noc-orange"
              >
                Linea de libre disponibilidad.
              </a>
              <p class="text-justify">
                <span class="font-semibold">Monto: </span>Hasta $100.000 <br />
                <span class="font-semibold">Destino: </span>Libre <br />
                <span class="font-semibold">Plazo de devolución: </span>Hasta 20
                cuotas mensuales sin interés, ajustables semestralmente por el
                50% del índice de variación salarial. <br />
                <span class="font-semibold">Periodo de gracia: </span> 3 meses
                <br />
                <span class="font-semibold">Modalidad: </span>Préstamo
                individual con garantía propia o de terceros. <br />
              </p>
              <h3 class="font-semibold mt-2">Requisitos y condiciones:</h3>
              <p class="text-justify">
                <span class="font-semibold">Solicitante: </span>El/la
                solicitante debe ser persona hábil mayor de edad (18 años
                cumplidos) y menor de 75 años (inclusive). <br />
                <span class="font-semibold">Garante: </span>Misma condición de
                edad que el solicitante y a demás
                <span class="font-semibold">
                  debe poseer CIUDADANO DIGITAL NIVEL 2</span
                >
                <br />
              </p>
              <p class="text-justify">
                Si te interesa solicitar este crédito
                <a
                  href="https://habitatyfamilia.cba.gov.ar/linea-de-libre-disponibilidad/"
                  class="hover:underline font-medium text-noc-orange"
                  >aquí</a
                >
                podés ver toda la documentación a presentar.
              </p>
            </div>
            <div class="py-3">
              <a
                href="https://habitatyfamilia.cba.gov.ar/linea-de-libre-disponibilidad/"
                class="hover:underline text-lg font-medium text-noc-orange"
              >
                Linea para iniciar emprendimientos.
              </a>
              <p class="text-justify">
                <span class="font-semibold">Monto: </span>$250.000 <br />
                <span class="font-semibold">Destino: </span>compra de
                herramientas, materiales y maquinarias. <br />
                <span class="font-semibold">Plazo de devolución: </span>Hasta 30
                cuotas mensuales sin interés, ajustable semestralmente por el
                50% del Índice de Variación Salarial. <br />
                <span class="font-semibold">Periodo de gracia: </span> 3 meses
                <br />
                <span class="font-semibold">Modalidad: </span>Préstamo
                individual con garantía propia o de terceros. <br />
              </p>
              <p class="text-justify">
                Si te interesa solicitar este crédito
                <a
                  href="https://habitatyfamilia.cba.gov.ar/linea-para-iniciar-emprendimientos/"
                  class="hover:underline font-medium text-noc-orange"
                  >aquí</a
                >
                podés ver toda la documentación a presentar, requisitos,
                compatibilidades e incompatibilidades
              </p>
            </div>
          </div>
          <h3 class="font-semibold text-lg text-center md:text-left my-2">
            Segunda linea: Fundación Banco de Córdoba
          </h3>
          <div class="w-full flex flex-col md:flex-row justify-center">
            <div class="w-full">
              <p class="text-justify">
                Requieren una antigüedad mínima de 1 año, con la salvedad de que
                no se pueden utilizar los fondos obtenidos para la compra de
                productos dedicados a la reventa, equipamientos de oficina,
                ampliación, construcción y/o alquiler de espacios. Los fondos
                están pensados para
                <span class="font-semibold"
                  >adquirir insumos e inversiones de capital: maquinaria o
                  herramientas.</span
                >
                El financiamiento de inmuebles o vehículos no es válido como
                destino de inversión. <br />
                Tiene un período de gracia de 3 meses. Ambos créditos tienen las
                mísmas condiciones y requisitos. <br />
                La forma de pago es mensual
                <span class="font-semibold">mediante débito automático</span>,
                en 15 cuotas sin interés
                <span class="font-semibold"
                  >ajustable semestralmente por el Índice de Variación
                  Salarial.</span
                >
                <br />
                Existen dos opciones y son las siguientes:
              </p>
            </div>
            <div
              class="w-full justify-center md:w-1/2 flex object-cover items-center"
            >
              <img
                src="/assets/institutional/fbc.png"
                alt="Logo fundación banco de Córdoba"
              />
            </div>
          </div>
          <div class="py-3 flex flex-col items-center md:items-start">
            <a
              href="https://www.fbco.org.ar/2021/11/24/linea1/"
              class="hover:underline text-lg font-medium text-noc-orange"
            >
              Linea 1: Hasta $600.000
            </a>
            <a
              href="https://www.fbco.org.ar/2022/06/25/linea2/"
              class="hover:underline text-lg font-medium text-noc-orange"
            >
              Linea 2: Hasta $800.000
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
