<div
  id="dropdownAvatar"
  class="z-10 bg-white absolute top-24 right-16 divide- rounded-lg shadow w-44"
>
  <div class="flex justify-center px-4 py-3 text-sm text-gray-900">
    <p class="mr-1">Rol: </p>
    <p class="font-medium">{{ userData!.roles | roleCustomizer }}</p>
  </div>
  <ul
    class="py-2 text-sm text-gray-700"
    aria-labelledby="dropdownUserAvatarButton"
  >
    <li>
      <a
        routerLink="/usuario/perfil"
        class="block px-4 py-2 hover:bg-gray-100"
        >Mi perfil</a
      >
    </li>
  </ul>
  <div class="py-2">
    <div
      (click)="onLogOut()"
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
    >
      Cerrar sesión
    </div>
  </div>
</div>
