<div class="flex flex-col items-center">
  <div>
    <h2 class="text-base lg:text-2xl font-semibold m-4">
      Directores de la Incubadora
    </h2>
    <div class="flex flex-col">
      <div
        class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
      >
        <div class="flex flex-col md:flex-row items-center">
          <div class="w-full flex justify-center">
            <img
              src="/assets/institutional/mauricioMariani.png"
              alt="Mauricio Mariani"
              class="w-48 h-48 mb-3 rounded-full shadow-lg"
            />
          </div>
          <div class="w-full p-4 pt-0">
            <h3 class="text-center font-bold py-2">Mauricio Mariani</h3>
            <p class="text-justify">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea,
              consequatur necessitatibus temporibus cumque aliquid voluptas
              animi eius, esse libero, molestiae quam nisi. Voluptas corporis
              blanditiis dicta sapiente nisi autem eaque.
            </p>
          </div>
        </div>
      </div>
      <div
        class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
      >
        <div class="flex flex-col md:flex-row items-center">
          <div class="w-full p-4 pt-0">
            <h3 class="text-center font-bold py-2">Mauricio Mariani</h3>
            <p class="text-justify">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea,
              consequatur necessitatibus temporibus cumque aliquid voluptas
              animi eius, esse libero, molestiae quam nisi. Voluptas corporis
              blanditiis dicta sapiente nisi autem eaque.
            </p>
          </div>
          <div class="w-full flex justify-center">
            <img
              src="/assets/institutional/leonardoLiendo.png"
              alt="Leonardo Liendo"
              class="w-48 h-48 mb-3 rounded-full shadow-lg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-base lg:text-2xl font-semibold m-4">
      Equipo de desarrollo
    </h2>
    <div class="flex flex-col">
      <div
        class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
      >
        <div class="flex flex-col md:flex-row items-center">
          <div class="w-full flex justify-center">
            <img
              src="/assets/institutional/fabrizioFerroni.jpg"
              alt="Desarrollador Fabrizio Ferroni"
              class="w-48 h-48 mb-3 rounded-full shadow-lg object-cover"
            />
          </div>
          <div class="w-full p-4 pt-0">
            <h3 class="text-center font-bold py-2">Fabrizio Ferroni</h3>
            <h3 class="text-center py-2">Desarrollador Fullstack</h3>
            <p class="text-justify">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea,
              consequatur necessitatibus temporibus cumque aliquid voluptas
              animi eius, esse libero, molestiae quam nisi. Voluptas corporis
              blanditiis dicta sapiente nisi autem eaque.
            </p>
          </div>
        </div>
      </div>
      <div
        class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
      >
        <div class="flex flex-col md:flex-row items-center">
          <div class="w-full p-4 pt-0">
            <h3 class="text-center font-bold py-2">Emmanuel Vivas</h3>
            <h3 class="text-center py-2">Desarrollador Fullstack</h3>
            <p class="text-justify">
              Formé parte de la tercer cohorte del xAcademy de Santex donde
              profundicé mis conocimientos previos en tecnología. <br />
              Junto con mi equipo, decidimos tomar el proyecto de la Incubadora
              porque nos sentimos alineados con su misión. Poder desarrollar un
            </p>
          </div>
          <div class="w-full flex justify-center">
            <img
              src="/assets/institutional/emmanuelVivas.jpg"
              alt="Desarrollador Emmanuel Vivas"
              class="w-48 h-48 mb-3 rounded-full shadow-lg object-cover"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-base lg:text-2xl font-semibold m-4">Cuerpo docente</h2>
    <div
      class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
    >
      <div class="flex flex-col md:flex-row">
        <div class="w-full">
          <svg-icon src="/assets/institutional/teacherIllustration.svg"></svg-icon>
        </div>
        <div class="w-full flex items-center">
          <p class="text-justify">
            La esencia de la incubadora radica en los educadores que comparten
            su conocimiento para poder impulsar a otros a alcanzar sus metas y
            objetivos. No dejes de conocerlos
            <a
              href="/institucional/cuerpo-docente"
              class="hover:underline font-medium text-noc-orange"
              >aquí.</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
