<h2 class="text-base lg:text-2xl font-semibold m-4">Contáctanos</h2>
<div
  class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
>
  <div class="flex flex-col md:flex-row">
    <div class="w-full flex flex-col justify-center">
      <p class="text-left">
        ¿Tenés algún conocimiento que quieras compartir? ¿Tenés interés en
        aprender alguna nueva disciplina? O simplemente querés conocernos...
        Seguinos y mantente al tanto de nuestras últimas novedades y cursos en:
      </p>
      <div class="flex flex-col">
        <a
          href="https://m.facebook.com/people/Incubadora-del-NOC/100063640024874/"
          class="hover:underline font-medium text-noc-orange"
          >Facebook</a
        >
        <a
          href="https://www.instagram.com/incubadoradelnoc/"
          class="hover:underline font-medium text-noc-orange"
          >Instagram</a
        >
        <a
          href="https://twitter.com/incubadora_noc"
          class="hover:underline font-medium text-noc-orange"
          >Twitter</a
        >
      </div>
      <p>
        O, sino, nos podes enviar un correo 
        <a
          href="mailto: contacto@incubadora.com"
          class="hover:underline font-medium text-noc-orange"
        >
          aquí</a
        >.
      </p>
    </div>
    <div class="w-full">
      <svg-icon src="/assets/institutional/contactIllustration.svg"></svg-icon>
    </div>
  </div>
</div>
