<h2 class="text-base lg:text-2xl font-semibold m-4">Nuestros servicios</h2>
<div
  class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow my-2"
>
  <div class="flex flex-col md:flex-row">
    <div class="w-full flex flex-col justify-center">
      <p class="text-justify">
        En la incubadora nos apasiona ayudar, impulsar y descubrir nuevos
        emprendedores. El ADN de la incubadora es el cuerpo docente, y su arma
        es el conocimiento. Nuestro principal servicio es poner a su disposición
        nuestra sede para que puedan compartir o tomar los cursos que aquí se
        brindan.
      </p>
    </div>
    <div class="w-full m-4">
      <img src="/assets/institutional/teaching.jpg" alt="Teaching" />
    </div>
  </div>
  <p>
    También buscamos siempre hacerles llegar información valiosa para el
    desarrollo personal, tanto como profesional. Por eso nos mantenemos activos
    en nuestras redes sociales compartiendo tips para poder alcanzar tus
    objetivos o planificarte mejor como emprendedor y potenciar tu PyME,
    <span class="font-bold">si todavía no nos sigues... te recomendamos que lo hagas</span> para
    que no te pierdas nuestras novedades.
  </p>
</div>
